{
  "openapi": "3.0.0",
  "info": {
    "description": "Kcibald API",
    "version": "0.0.1",
    "title": "Kcibald API",
    "contact": {
      "name": "wusatosi"
    }
  },
  "servers": [
    {
      "url": "https://www.kcibald.com",
      "description": "production server end point, Content-Type header should be application/json"
    },
    {
      "url": "https://api.kcibald.com",
      "description": "production server end Point, only accept Content-Type application/json"
    },
    {
      "url": "https://api-testing.develop.kcibald.com",
      "description": "testing / staging server end point"
    }
  ],
  "tags": [
    {
      "name": "stable",
      "description": "The api is stable and will likely not change"
    },
    {
      "name": "developing",
      "description": "The api is unstable and may change"
    },
    {
      "name": "general",
      "description": "General request / query"
    },
    {
      "name": "regional",
      "description": "Regional request / query"
    },
    {
      "name": "post",
      "description": "Post related request / query"
    },
    {
      "name": "comment",
      "description": "Comment related request / query"
    },
    {
      "name": "user",
      "description": "user information"
    },
    {
      "name": "config",
      "description": "changing their state"
    }
  ],
  "x-tagGroups": [
    {
      "name": "general",
      "tags": [
        "general",
        "config"
      ]
    },
    {
      "name": "feed",
      "tags": [
        "regional",
        "post",
        "comment",
        "user"
      ]
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "summary": "login",
        "parameters": [],
        "tags": [
          "general",
          "developing"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "type": "string",
                    "format": "email",
                    "example": "12345@kcisec.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "x2YE7LJMOR",
                    "pattern": "^(?=.*?[a-z])(?=.*?[0-9]).{8,20}$",
                    "minLength": 6,
                    "description": "plain text password"
                  },
                  "captcha": {
                    "type": "string",
                    "description": "google recaptcha validation token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Login success, may continue"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "403": {
            "description": "User banned",
            "content": {
              "application/json": {
                "schema": {
                  "description": "login denied",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    }
                  },
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/user_banned_failure"
                    },
                    {
                      "$ref": "#/components/schemas/recaptcha_failure"
                    },
                    {
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "PASSWORD_OR_ACCOUNT_EMAIL_INCORRECT"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/server_failure"
          }
        }
      }
    },
    "/logout": {
      "post": {
        "summary": "logout",
        "tags": [
          "general"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "Logout successful"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "500": {
            "$ref": "#/components/responses/server_failure"
          }
        }
      }
    },
    "/registry": {
      "post": {
        "summary": "registry an user",
        "tags": [
          "general"
        ],
        "parameters": [
        ],
        "responses": {
        }
      }
    },
    "/feed": {
      "get": {
        "tags": [
          "general",
          "developing"
        ],
        "summary": "fetch feed",
        "description": "fetch new activities from all subscribed regions",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_mark"
          },
          {
            "$ref": "#/components/parameters/amount"
          }
        ],
        "responses": {
          "200": {
            "description": "fetch success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "properties": {
                        "posts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/post_head"
                              },
                              {
                                "properties": {
                                  "region": {
                                    "type": "string",
                                    "example": "ib-office",
                                    "description": "region of the post"
                                  }
                                }
                              }
                            ]
                          }
                        },
                        "mark": {
                          "$ref": "#/components/schemas/query_mark"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "$ref": "#/components/responses/no_authorization"
          },
          "403": {
            "$ref": "#/components/responses/common_auth"
          },
          "500": {
            "$ref": "#/components/responses/server_failure"
          }
        }
      }
    },
    "/_/upload": {
      "put": {
        "summary": "request an upload",
        "tags": [
          "general",
          "developing"
        ],
        "parameters": [
        ],
        "responses": {
        }
      }
    },
    "/r/{regionId}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/regionId"
        }
      ],
      "get": {
        "tags": [
          "regional",
          "developing"
        ],
        "summary": "list regional information",
        "operationId": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/region"
                        },
                        {
                          "properties": {
                            "top_posts": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/post_head"
                              },
                              "maxItems": "20"
                            },
                            "post_mark": {
                              "$ref": "#/components/schemas/query_mark"
                            },
                            "child_region": {
                              "type": "array",
                              "nullable": true,
                              "items": {
                                "$ref": "#/components/schemas/region"
                              }
                            }
                          }
                        },
                        {
                          "example": {
                            "name": "DP",
                            "url_key": "DP",
                            "parent": null,
                            "regionId": "dkjkaljfd",
                            "description": "region for talking things about DP",
                            "avatar": "usercontent.kcibald.com/jalkdjkajfdlk.jpeg",
                            "top_posts": [],
                            "post_mark": "5c7fc05f802b95782f1f9e88",
                            "child_region": [
                              {
                                "name": "chat room",
                                "url_key": "DP/chat-room",
                                "parent": {
                                  "name": "DP",
                                  "url_key": "DP",
                                  "parent": null,
                                  "regionId": "dkjkaljfd",
                                  "description": "region for talking things about DP",
                                  "avatar": "usercontent.kcibald.com/jalkdjkajfdlk.jpeg"
                                },
                                "regionId": "dkjkaljfd",
                                "description": "region for talking about things about DP",
                                "avatar": "usercontent.kcibald.com/jalkdjkajfdlk.jpeg"
                              }
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/no_authorization"
          },
          "403": {
            "$ref": "#/components/responses/banned_common_auth"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/server_failure"
          }
        }
      }
    },
    "/r/{regionId}/subscribe": {
      "parameters": [
        {
          "$ref": "#/components/parameters/regionId"
        }
      ],
      "post": {
        "tags": [
          "developing",
          "post"
        ],
        "summary": "subscribe to a region",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Subscription successful"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "$ref": "#/components/responses/no_authorization"
          },
          "403": {
            "$ref": "#/components/responses/banned_common_auth"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          }
        }
      }
    },
    "/r/{regionId}/p/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/regionId"
        }
      ],
      "get": {
        "description": "Example url: /r/ib-office/posts",
        "summary": "list posts under region",
        "tags": [
          "post",
          "developing"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/query_mark"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/amount"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "posts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/post_head"
                          }
                        },
                        "query_mark": {
                          "$ref": "#/components/schemas/query_mark"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "$ref": "#/components/responses/no_authorization"
          },
          "403": {
            "$ref": "#/components/responses/banned_common_auth"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/server_failure"
          }
        }
      },
      "put": {
        "summary": "create post",
        "tags": [
          "post",
          "developing"
        ],
        "operationId": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "How to get a 7 in math HL",
                    "maxLength": "???"
                  },
                  "content": {
                    "type": "string",
                    "example": "it's impossible"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "upload_token": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "captcha": {
                    "type": "string",
                    "description": "recaptcha token to avoid spamming"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "link": {
                          "type": "string",
                          "example": "www.kcibald.com/r/ib-office/akdadak",
                          "description": "the link to created post"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Doesn't meet Post schema requirements",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            false
                          ]
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "TITLE_LENGTH_EXCEED"
                          ]
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/invalid_attachment_failure"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/no_authorization"
          },
          "403": {
            "$ref": "#/components/responses/banned_common_auth"
          },
          "500": {
            "$ref": "#/components/responses/server_failure"
          }
        }
      }
    },
    "/r/{regionId}/p/{postId}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/regionId"
        },
        {
          "$ref": "#/components/parameters/postId"
        }
      ],
      "get": {
        "summary": "get post",
        "tags": [
          "developing",
          "post"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/post"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "$ref": "#/components/responses/no_authorization"
          },
          "403": {
            "$ref": "#/components/responses/banned_common_auth"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/server_failure"
          }
        }
      },
      "delete": {
        "tags": [
          "developing",
          "post"
        ],
        "summary": "delete post",
        "parameters": [],
        "responses": {
          "200": {
            "description": "deletion success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/post_head"
                        },
                        {
                          "description": "post deleted"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "$ref": "#/components/responses/no_authorization"
          },
          "403": {
            "$ref": "#/components/responses/common_auth"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/server_failure"
          }
        }
      }
    },
    "/r/{regionId}/p/{postId}/comments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/regionId"
        },
        {
          "$ref": "#/components/parameters/postId"
        }
      ],
      "get": {
        "summary": "get comments under post",
        "tags": [
          "developing",
          "comment"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/query_mark"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/amount"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "properties": {
                        "comments": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/comment"
                          }
                        },
                        "query_mark": {
                          "$ref": "#/components/schemas/query_mark"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "$ref": "#/components/responses/no_authorization"
          },
          "403": {
            "$ref": "#/components/responses/banned_common_auth"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/server_failure"
          }
        }
      },
      "post": {
        "summary": "create an comment",
        "tags": [
          "developing",
          "comment"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                }
              }
            }
          }
        },
        "responses": {
        }
      }
    },
    "/u/{userId}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/userId"
        }
      ],
      "get": {
        "summary": "get user information",
        "tags": [
          "developing",
          "user"
        ],
        "responses": {
        }
      }
    },
    "/u/{userId}/feed/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/userId"
        }
      ],
      "get": {
        "summary": "get user feed",
        "tags": [
          "post",
          "user",
          "develop"
        ],
        "parameters": [],
        "responses": {
        }
      }
    },
    "/me/": {
      "get": {
        "summary": "get my profile",
        "tags": [
          "user",
          "develop"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Fetch success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/user"
                        },
                        {
                          "properties": {
                            "feed": {
                              "properties": {
                                "posts": {
                                  "type": "array",
                                  "maxItems": 20,
                                  "items": {
                                    "$ref": "#/components/schemas/post_head"
                                  }
                                },
                                "mark": {
                                  "$ref": "#/components/schemas/query_mark"
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/me/subscriptions/": {
      "get": {
        "summary": "get my subscriptions",
        "tags": [
          "develop",
          "user"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Fetch success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/region"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "$ref": "#/components/responses/no_authorization"
          }
        }
      }
    },
    "/me/settings": {
      "get": {
        "summary": "get user setting",
        "description": "list user's email address, avatar and signature setting",
        "tags": [
          "developing",
          "config"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Fetch Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "emails": {
                      "type": "object",
                      "properties": {
                        "school": {
                          "description": "kcis school's email (usually registration email)",
                          "properties": {
                            "address": {
                              "type": "string",
                              "format": "email"
                            },
                            "validated": {
                              "type": "boolean"
                            }
                          }
                        },
                        "personal": {
                          "description": "personal email",
                          "properties": {
                            "address": {
                              "type": "string",
                              "format": "email"
                            },
                            "validated": {
                              "type": "boolean"
                            }
                          }
                        },
                        "signature": {
                          "type": "string",
                          "description": "signature of the user"
                        }
                      }
                    },
                    "avatar": {
                      "type": "string",
                      "description": "url to avatar file"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "$ref": "#/components/responses/no_authorization"
          },
          "500": {
            "$ref": "#/components/responses/server_failure"
          }
        }
      }
    },
    "/me/profile/credentials": {
      "post": {
        "summary": "modify user credentials",
        "description": "change user's password",
        "tags": [
          "developing",
          "config"
        ],
        "parameters": [],
        "responses": {
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "$ref": "#/components/responses/no_authorization"
          }
        }
      }
    },
    "/me/profile/email": {
      "post": {
        "summary": "update user email",
        "tags": [
          "developing",
          "config"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "email_type": {
                    "type": "string",
                    "enum": [
                      "PERSONAL",
                      "SCHOOL"
                    ]
                  },
                  "address": {
                    "type": "string",
                    "format": "email"
                  },
                  "captcha": {
                    "type": "string",
                    "description": "recaptcha validation token (for avoiding spam mail abuse)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Update success"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "$ref": "#/components/responses/no_authorization"
          },
          "403": {
            "$ref": "#/components/responses/recaptcha_auth"
          }
        }
      }
    },
    "/me/profile/email/{emailType}/resend": {
      "post": {
        "summary": "resend verification email to the email address",
        "tags": [
          "developing",
          "config"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "emailType",
            "schema": {
              "type": "string",
              "enum": [
                "PERSONAL",
                "SCHOOL"
              ]
            }
          },
          {
            "in": "query",
            "name": "captcha",
            "schema": {
              "type": "string",
              "description": "recaptcha validation token (for avoiding spam mail abuse)"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Request Success"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "$ref": "#/components/responses/no_authorization"
          },
          "403": {
            "$ref": "#/components/responses/recaptcha_auth"
          }
        }
      }
    },
    "/me/profile/avatar": {
      "post": {
        "summary": "update user avatar",
        "tags": [
          "develop",
          "config"
        ],
        "parameters": [],
        "responses": {
        }
      }
    }
  },
  "components": {
    "parameters": {
      "regionId": {
        "in": "path",
        "name": "region",
        "required": true,
        "allowEmptyValue": false,
        "schema": {
          "type": "string",
          "description": "the <b>region id</b> or the <b>url key</b> of the requested region"
        }
      },
      "postId": {
        "in": "path",
        "name": "postId",
        "required": true,
        "allowEmptyValue": false,
        "schema": {
          "type": "string",
          "description": "the <b>post id</b> or the <b>url key</b> of the requested post"
        }
      },
      "userId": {
        "in": "path",
        "name": "userId",
        "schema": {
          "type": "string",
          "description": "the <b>user id</b> or the <b>url key</b> of the requested user"
        }
      },
      "query_mark": {
        "in": "query",
        "name": "after",
        "description": "fetch activities after a post identified using an special id for paging, this will be provided upon query",
        "schema": {
          "$ref": "#/components/schemas/query_mark"
        }
      },
      "amount": {
        "in": "query",
        "name": "amount",
        "description": "maximum number of activities to return",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "required": "false"
        }
      },
      "skip": {
        "name": "skip",
        "in": "query",
        "description": "skip number of objects",
        "schema": {
          "type": "integer",
          "example": 10
        }
      }
    },
    "schemas": {
      "region": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "chat room"
          },
          "url_key": {
            "type": "string",
            "example": "DP/chat-room"
          },
          "parent": {
            "description": "parent region",
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "DP"
              },
              "url_key": {
                "type": "string",
                "example": "DP"
              },
              "parent": {
                "enum": [
                  null
                ]
              },
              "regionId": {
                "type": "string",
                "example": "dkjkaljfd"
              },
              "description": {
                "type": "string",
                "example": "DP region"
              },
              "avatar": {
                "type": "string",
                "example": "usercontent.kcibald.com/jalkdjkajfdlk.jpeg"
              }
            }
          },
          "regionId": {
            "type": "string",
            "example": "dkjkaljfd"
          },
          "description": {
            "type": "string",
            "example": "region for talking about things about DP"
          },
          "avatar": {
            "type": "string",
            "example": "usercontent.kcibald.com/jalkdjkajfdlk.jpeg"
          }
        }
      },
      "post_head": {
        "type": "object",
        "description": "represents a minimized post object, containing only the main body without comments",
        "properties": {
          "title": {
            "type": "string",
            "example": "why not to choice physics HL"
          },
          "postId": {
            "type": "string",
            "example": "AXPYAOfpEi"
          },
          "url_key": {
            "type": "string",
            "example": "why_not_to_choice_physics_HL"
          },
          "regionId": {
            "type": "string",
            "example": "dkjkaljfd"
          },
          "author": {
            "$ref": "#/components/schemas/user"
          },
          "create_time_stamp": {
            "$ref": "#/components/schemas/create_timestamp"
          },
          "update_time_stamp": {
            "$ref": "#/components/schemas/update_timestamp"
          },
          "content": {
            "type": "string",
            "example": "lalala"
          },
          "comment_count": {
            "type": "integer",
            "example": 50
          }
        }
      },
      "post": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/post_head"
          }
        ],
        "properties": {
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/attachment"
            }
          },
          "comments": {
            "type": "array",
            "required": "true",
            "items": {
              "$ref": "#/components/schemas/comment"
            },
            "maxItems": 20
          },
          "comment_query_mark": {
            "description": "use for paging comments, null if reached to the end",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/query_mark"
              }
            ]
          }
        }
      },
      "user": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "example": "r8hpppZ6mK"
          },
          "user_name": {
            "type": "string",
            "example": "james ye"
          },
          "url_key": {
            "type": "string",
            "example": "james_ye"
          },
          "signature": {
            "type": "string",
            "example": "I love physics",
            "description": "user signature, can not be an HTML element"
          },
          "avatar": {
            "type": "string",
            "example": "avatars.kcibald.com/hRkynUoTzP",
            "description": "url for avatar file"
          }
        }
      },
      "comment": {
        "type": "object",
        "properties": {
          "comment_id": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/user"
          },
          "create_time_stamp": {
            "$ref": "#/components/schemas/create_timestamp"
          },
          "update_time_stamp": {
            "$ref": "#/components/schemas/update_timestamp"
          },
          "content": {
            "type": "string",
            "example": "this is good"
          },
          "replies": {
            "$ref": "#/components/schemas/comment"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/attachment"
            }
          }
        }
      },
      "attachment": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "example": "something",
            "description": "title of the attachment"
          },
          "link": {
            "type": "string",
            "example": "usercontent.kcibald/abcdefg.jpeg",
            "description": "url link of the attachment"
          }
        }
      },
      "create_timestamp": {
        "type": "integer",
        "format": "int64",
        "example": "1554806142"
      },
      "update_timestamp": {
        "allOf": [
          {
            "$ref": "#/components/schemas/create_timestamp"
          }
        ],
        "example": "1554806142",
        "nullable": true
      },
      "query_mark": {
        "type": "string",
        "description": "meant to be an identifier to mark the position of post listed, a tool for paging",
        "format": "hexadecimal",
        "minLength": "24",
        "maxLength": "24",
        "required": false,
        "example": "5c7fc05f802b95782f1f9e88",
        "nullable": true
      },
      "recaptcha_failure": {
        "description": "Recaptcha verification failed",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "CAPTCHA_VERIFICATION_FAILED"
            ]
          }
        }
      },
      "authorization_failure": {
        "description": "denied",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "AUTHORIZATION_DENIED"
            ]
          }
        }
      },
      "user_banned_failure": {
        "description": "user banned",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "USER_BANNED"
            ]
          },
          "banned_type": {
            "type": "object",
            "properties": {
              "scope": {
                "type": "string",
                "enum": [
                  "CURRENT",
                  "ALL"
                ]
              },
              "reason": {
                "type": "string",
                "example": "due to use of word \"FUCK\" in public regions",
                "nullable": true
              }
            }
          }
        }
      },
      "invalid_attachment_failure": {
        "description": "attachment token invalid",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "ATTACHMENT_INVALID_ID",
              "ATTACHMENT_FILE_NOT_UPLOADED"
            ]
          }
        }
      }
    },
    "responses": {
      "bad_request": {
        "description": "Bad request"
      },
      "banned_common_auth": {
        "description": "Standard authorization failure or user banned",
        "content": {
          "application/json": {
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/authorization_failure"
                },
                {
                  "$ref": "#/components/schemas/user_banned_failure"
                }
              ]
            }
          }
        }
      },
      "common_auth": {
        "description": "Standard authorization failure",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/authorization_failure"
            }
          }
        }
      },
      "recaptcha_standard_nonbanable_auth": {
        "description": "Recaptcha failure or standard authorization failure",
        "content": {
          "application/json": {
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/recaptcha_failure"
                },
                {
                  "$ref": "#/components/schemas/authorization_failure"
                }
              ]
            }
          }
        }
      },
      "recaptcha_auth": {
        "description": "Recaptcha failure",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recaptcha_failure"
            }
          }
        }
      },
      "no_authorization": {
        "description": "No authorization or authorization expired",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "enum": [
                    false
                  ]
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "AUTHORIZATION_MISSING_OR_INVALID"
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "WWW-Authenticate": {
            "schema": {
              "enum": [
                "FormBased"
              ]
            }
          }
        }
      },
      "not_found": {
        "description": "Requested information not found",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "enum": [
                    false
                  ]
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "NOT_FOUND"
                  ]
                }
              }
            }
          }
        }
      },
      "server_failure": {
        "description": "Internal Error",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "enum": [
                    false
                  ]
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "INTERNAL_ERROR"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}